name: Unit Tests

on: workflow_call

jobs:
  test:
    name: Test on ${{matrix.python.toxenv}}-${{matrix.platform.toxenv}}
    runs-on: ${{ matrix.platform.runner }}
    strategy:
      matrix:
        platform:
          - runner: ubuntu-latest
            toxenv: linux
          - runner: windows-latest
            toxenv: windows
        python:
          - version: '3.9'
            toxenv: 'py39'
          - version: '3.10'
            toxenv: 'py310'
          - version: '3.11'
            toxenv: 'py311'
    steps:
      - uses: actions/checkout@v4
      - name: Install Python ${{ matrix.python.version }}
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python.version }}
          cache: 'pip' # cache pip dependencies
      - name: Install tox
        run: python -m pip install tox
      - name: Run pytest
        run: tox -e ${{matrix.python.toxenv}}-${{matrix.platform.toxenv}}
